.btn {
  cursor: pointer;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.reload {
  border-radius: 6px;
  padding: 5px;
  background-color: rgb(33, 104, 218);
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
}