.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.link_item {
  margin-left: 10px;
  opacity: 1;
}

.link_img {
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-collapsed-width);

  .link_item {
    opacity: 0;
    transition: .2s opacity;
    width: 0;
  }
}