.BIG {
  display: flex;
  flex-direction: column;

  .list_item {
    margin-bottom: 30px;
  }  
}

.SMALL {
  display: flex;
  flex-flow: row wrap;

  .list_item {
    margin-right: 30px;
    margin-bottom: 30px;
  }  
}