.link {
  color: var(--primary-color);
  transition: .2;

  &:hover {
    opacity: 0.8;
    transform: translateY(1px)
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}